<!DOCTYPE html>
html(lang="jp")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='css/style.css')
        title lp
    body
        header.side-header
            .logo
                img(src='img/city.png')
            ul.nav-memu
                li.nav サービス
                li.nav ニュース
                li.nav CSR
                li.nav IR情報
                li.nav 会社情報
                li.nav 採用情報
                li.contact お問い合わせ
        main
            section.main-img
                .back
                    img.main-title(src="img/Specialist.png", alt="logo")
                .sub   
                    img.sub-title(src="img/subtitle.png", alt="logo")
            
            section
                .news
                    .news-title
                        img(src="img/News.png", alt="news")
                        p 一覧をみる>
                    .news-topics
                        .news-content
                            p.date 2020.03.14
                            p.label プレス
                            p.description 【東京オリンピック会場跡地再開発計画】複合スポーツ施設及び新テーマパーク工事開始のお知らせ                                            
                        .news-content1
                            p.date 2020.02.30
                            p.label1 IR
                            p.description1  2019年9月期　第1四半期決算説明会動画
                        .news-content2
                            p.date 2020.02.30
                            p.label1 IR
                            p.description1  2019年9月期　第1四半期決算説明会動画
                    
            section
                .work
                    .work-title
                        img(src="img/Service.png", alt="work")
                    .work-sub   
                        img(src="img/citylab.png", alt="work")
                    .work-content
                        img.contents(src="img/content.png", alt="work")
                        img.contents(src="img/content.png", alt="work")
                        img.contents(src="img/content.png", alt="work")

                
                    
